*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.top-hero-section{
    background-color:rgba(255, 255, 255, 0.8)
}

#card-section {
    background-color: #f8fbfe;
}

#about-section .row {
    text-align: left;
}

.align-middle {
    background-color: rgb(248, 251, 254);
}

#brands-section{
    background-color: #f8fbfe;
}

#brands-section img {
    max-width: 45%;
    filter: grayscale(100);
    transition: all 0.4s ease-in-out;
}

#brands-section img:hover {
    filter: grayscale(0);
    transform: scale(1.15);
}

#testimonials {
    margin-bottom: 5%;
}

.testimony-person img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.testimony-person {
    padding-top: 25px;
}

.testimony {
    background: rgb(248, 251, 254);
}


.testimony {
    position: relative;
  }
  
  .testimony {
    position: relative;
    background: #f0ffff;
    border-radius: 1em .5em 0 0;
   
    
  }
  .testimony:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #f0ffff transparent;
    border-width: 36px 17px 0;
    bottom: -36px;
    left: 51%;
    margin-left: -17px;
  }
  
  .testimonials .swiper-pagination {
    margin-top: 100%;
    position: relative;
}

.swiper-wrapper {
    margin-bottom: 5%;
}
  